* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding: auto;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 75vh;
  color: rgb(3, 3, 2);
}
.container {
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: upper;
  background-color: rgb(233, 233, 197);
  width: 400px;
  height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
  margin: 15px;
  align-content: center;
  font-size: 30px;
}
button {
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(3, 3, 2);
  color: white;
  font-size: 15px;
  align-content: center;
  display: flex;
  flex-direction: column;
}
button:hover {
  background-color: rgb(4, 78, 140);
}
input {
  padding: 30px;
  border-radius: 5px;
  background-color: rgb(224, 209, 202);
  color: black;
  font-size: 15px;
  height: 30px;
  width: 300px;
  outline: none;
  transition: all 0.3s ease;
}
input:focus {
  border-color: #74a777;
  box-shadow: 0 0 5px rgba(212, 103, 119, 0.4);
}
li {
  background-color: rgb(160, 214, 160);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  margin-top: 20px;
}
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(212, 124, 117);
}
li button {
  background-color: rgb(0, 2, 2);
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  gap: 20px;
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  font-size: 15px;
}
li button + button {
  margin-left: 10px;
}
i button:first-of-type {
  background-color: #3498db;
  color: white;
}

li button:first-of-type:hover {
  background-color: #164b87;
}

li button:last-of-type {
  background-color: #e74c3c;
  color: white;
}

li button:last-of-type:hover {
  background-color: #871104;
}
item-text {
  font-weight: 500;
  color: #2d3436;
}
.item-date {
  font-size: 12px;
  color: #636e72;
  margin-left: 10px;
  white-space: nowrap;
}
