* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding: auto;
  background-color: rgb(172, 219, 172);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 75vh;
  color: rgb(3, 3, 2);
}
.container {
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  display: inline;
  background-color: beige;
  width: 400px;
  height: 200px;
}
