* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding: auto;
  background-color: rgb(172, 219, 172);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 75vh;
  color: rgb(3, 3, 2);
}
.container {
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  display: inline;
  background-color: beige;
  width: 400px;
  height: 400px;
}
h1 {
  margin: 20px;
  align-content: center;
  font-size: 30px;
}
button {
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(3, 3, 2);
  color: white;
  font-size: 15px;
}
input {
  padding: 30px;
  border-radius: 5px;
  background-color: beige;
  color: white;
  font-size: 15px;
  height: 30px;
  width: 300px;
}
